body {
    background-image: url('../images/babyvictorpolo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Abel', serif;
}
h2{
    font-family: 'Yellowtail', serif;
}
h3{
    font-family: 'Abel', serif;
}
a:link {
    color:   #3346ff;
    text-decoration: none;
}
a:visited {
    color: #21618c;
}

/* mouse over link */
a:hover {
    color:  #6495ED;
}
.fields {
    font-size: normal
}

body {
    padding:0px;
    height: 100px;
    width: ;
    margin:0px;
    text-shadow: 
    0 0 8px lightgray,
    0 0 9px lightgray;
}

.cards {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

